<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/Annakaru1/gorudfishies">Cynthia Powell</a>
  </p>
  <br />
  <p>
    She has a BA degree in Music; a background in Veterinary Assisting, Parking Enforcement, and Tap Dancing; thus proving, ANYONE can learn to code.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Cynthia Powell</h2>
      <br />
      <p>Cynthia Powell graduated from Lawrence University in Appleton, Wisconsin, where she majored in Clarinet performance. After traveling in Mexico, she settled in San Francisco. At the SFSPCA, she worked in the Spay/Neuter Clinic and eventually became Patient Care Coordinator for the animal shelter. She then shifted careers to the Town of Fairfax, where she served as a Community Service Officer, and specialized in disaster preparedness.
      </p>
    </div>
  </div>

</div>


<br class="clear" />
<br />
<br />
<br />
<br />